{% extends "easy_pdf/base.html" %}

{% load base_tags %}

{% block extra_style %}
    <style type="text/css">
        @font-face {
            font-family: DejaVuSans;
            src: url(/usr/share/fonts/truetype/dejavu/DejaVuSans.ttf);
        }
        body {
            font-family: "dejavusans";
            color: #333333;
        }
        p {margin: 0; padding: 0; font-size: 10pt; font-family: DejaVuSans;}


        .wrapper {
            width: 100%;
            text-align: center;
        }

        .title {
            font-size: 20pt;
            font-family: DejaVuSans;
        }

        .text-center {text-align: center}
        .text-justify {text-align: justify}
        .border-left {border-left: 0.5pt solid #C3C3C3;}

        .total-row {
            border-top: 0.75pt solid #626262;
        }

        .td-th {
            background-color: #64B2DF;
            color: #fff;
        }

        .td {
            font-size: 8pt;
            padding-left: 2px;
            padding-right: 2px;
            border-right: 0.5pt solid #C3C3C3;
        }

        .tr {
            padding-top: 4pt;
            padding-bottom: 2pt;
            border-bottom: 0.5pt solid #C3C3C3;
        }

        .total {
            color: #64B2DF;
        }

    </style>
{% endblock %}

{% block content %}
    <div id="wrapper content">
        <span class="title text-center">Отчёт Агента №{{report_number}}</span><br>
        <span class="title text-center">от {% now "d F Y" %}</span>

        <p class="text-justify">Общество с Ограниченной Ответственностью “Фикслэнд.ру”, именуемое в дальнейшем “Агент”, подготовило для принципала {{master.user.get_full_name}}, именуемого в дальнейшем “Исполнитель”, настоящий отчёт об исполнения поручения по сбору, обработке и предоставлению Исполнителю заказов 3-их лиц на работы Исполнителя в соответствии с пунктом 2.2.1 публичной Оферты Агентского соглашения NoФЛ-1М за {{month_name}} {{year}} года. Агентом организована работа по предоставлению Исполнителю следующих заказов:</p>
        <br>
        <table>
            <tr class="tr" style="border-top: 0.5pt solid #C3C3C3;">
                <td class="td td-th text-center border-left" style="width: 55pt;">Номер заказа</td>
                <td class="td td-th text-center" style="width: 60pt;">Дата заказа</td>
                <td class="td td-th text-center" style="width: 120pt;">Имя клиента</td>
                <td class="td td-th text-center" style="width: 140pt;">Поломки</td>
                <td class="td td-th text-center" style="width: 55pt;">Стоимость ремонта</td>
                <td class="td td-th text-center" style="width: 90pt;">Агентское вознаграждение</td>
            </tr>
        </table>
        {% for order in orders %}
            <table>
                <tr class="tr">
                    <td class="td text-center border-left" style="width: 55pt;">{{order.number}}</td>
                    <td class="td text-center" style="width: 60pt;">{{order.created_at|date:"m/d/Y"}}</td>
                    <td class="td" style="width: 120pt;">{{order.user.get_full_name}}</td>
                    <td class="td" style="width: 140pt;">{{order.repairs_str}}</td>
                    <td class="td text-center" style="width: 55pt;">{{order.total_amount}}</td>
                    <td class="td text-center" style="width: 90pt;">{{order.get_commission}}</td>
                </tr>
            </table>
        {% endfor %}
        <table>
            <tr class="tr total-row">
                <td class="td border-left" style="width: 55pt;"></td>
                <td class="td" style="width: 60pt;"></td>
                <td class="td" style="width: 120pt;"></td>
                <td class="td" style="width: 140pt;"></td>
                <td class="td text-center total" style="width: 55pt;">{{orders_amount}}</td>
                <td class="td text-center total" style="width: 90pt;">{{agent_amount}}</td>
            </tr>
        </table>
        <br><br>
        <p>Согласно пункту 1.1 Приложения №1 к Оферте Агентского соглашения №ФЛ-1М вознаграждение Агента составило {{agent_amount|stringformat:'d'|intcomma}} рублей {{agent_amount|places_from_decimal}} копеек, без НДС.</p>
        <br>
        <span style="font-size: 10pt;">Генеральный директор</span><br>
        <span style="font-size: 10pt;">ООО “Фикслэнд.ру”</span><br>
        <span style="font-size: 10pt;">Гареев Р.Т.</span><br>
        <img width="311" height="179" src="{{ signature }}" />
    </div>
{% endblock %}