{% extends 'base.html' %}
{% load staticfiles compress i18n base_tags %}

{% block content %}
    <div id="app">
        <div class="content step wrpBalance">
            <h3>{% trans 'Мои финансы' %}</h3>
            <div>
                <h5>{% trans 'Мой баланс:' %} <a class="myFinancesBalanceLink" href="{% url 'master_transactions' %}">{{ user.master.balance|intcomma }} <span className="rub">₽</span></a></h5>
            </div>
            <div>
                <h6>{% trans 'Кредитный лимит:' %} {{ user.master.credit_amount|intcomma }} <span className="rub">₽</span></h6>
            </div>
            {% if user.master.take_credit_date %}
                <div>
                    <h6>{% trans 'Остаток кредита:' %} {{ user.master.remain_credit_amount|intcomma }} <span className="rub">₽</span></h6>
                </div>
            {% endif %}
            <div>
                <h6>{% trans 'Срок кредита:' %} {{ user.master.credit_days }} {% trans 'дней(день)' %}
                {% if user.master.take_credit_date %}
                    , {% trans 'осталось' %} {{user.master.remain_credit_hours}} {% trans 'часов(час)' %}
                {% endif%}</h6>
            </div>
            <form class="brForm" method="post" action="{% url 'master_payment' %}" accept-charset="UTF-8">
                {% csrf_token %}
                <h5>{% trans 'Сумма пополнения:' %}</h5>
                <div class="wrpFormInputs balanceInput">
                    <input class="inputData" name="payment_amount" value="{{amount}}"/>
                    <div class="balanceBtn">
                        <input class="button button-green selectRepair balanceButton" type="submit" value="{% trans 'Пополнить' %}" />
                    </div>
                    {% if form and form.payment_amount.errors %}
                        {% for error in form.payment_amount.errors %}
                            <div class="error static-notification-red clearBoth tap-dismiss-notification">
                                <p class="center-text uppercase">{{ error|escape }}</p>
                            </div>
                        {% endfor %}
                    {% endif %}
                </div>
            </form>
            <br/>
            <br/>
            <a class="selectBtn payment-rules-btn" href="{% url 'payment_rules' %}">{% trans 'Правила платежей' %}</a>
            <br/>
            <a class="button button-blue selectRepair" href="{% url 'agent_report' %}">{% trans 'Отчет агента' %}</a>
        </div>
    </div>
{% endblock %}
