{% extends 'base.html' %}
{% load staticfiles compress i18n %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/how_it_work.css' %}">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="app">
        <div class="content wrpHIW">
            <h1>{% trans 'Как это работает?' %}</h1>
            <h2>{% trans '1. Обучение и активация аккаунта' %}</h2>
            <div class="elHIW">
                <p>{% trans 'Пройти обучение (3 занятия)' %}</p>
            </div>
            <div class="elHIW">
                <p>{% trans 'Сдать екзамен' %}</p>
            </div>
            <div class="elHIW">
                <p>{% trans 'Выбрать график и территорию' %}</p>
            </div>
            <h2>{% trans '2. Работа с заказами' %}</h2>
            <div class="elHIW">
                <p>{% trans 'Пополнить личный счёт на Fixland.ru' %}</p>
            </div>
            <div class="elHIW">
                <p>{% trans 'Получить заказ и принять его' %}</p>
            </div>
            <div class="elHIW">
                <p>{% trans 'Забрать запчасти для заказа' %}</p>
            </div>
            <div class="elHIW">
                <div class="additional"></div>
                <p>{% trans 'Получить свои деньги от клиента' %}</p>
            </div>
            <div class="elHIW">
                <p>{% trans 'Выполнить ремонт' %}</p>
            </div>
            <h2>{% trans '3. Рост доходов' %}</h2>
            <div class="elHIW">
                <p>{% trans 'Получать хорошие отзывы' %}</p>
            </div>
            <div class="elHIW">
                <p>{% trans 'Повышать свой рейтинг' %}</p>
            </div>
            <div class="wrpElHIW">
                <div class="elHIW">
                    <p>{% trans 'Понижать комиссию Fixland.ru' %}</p>
                </div>
                <div class="elHIW">
                    <p>{% trans 'Получать больше заказов' %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}