{% extends 'base.html' %}
{% load staticfiles compress %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_scripts %}

    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/masterApp.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.REPAIR_ORDER_COMMISSION = parseInt({{repair_order_commission}});
        window.MASTER_ID = parseInt({{user.master.id}});
        window.GENDER = '{{user.gender}}';
        window.ReactRouter.run(window.indexRoutes, function (Handler) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
        });
    </script>

{% endblock %}
