{% extends 'base.html' %}
{% load staticfiles compress %}

{% block extra_css %}
    {% compress css %}
        <link href="{% static 'css/offer.css'  %}"rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="app" class="whiteBg">
        <div class="content step offer">
            <div class="static-text">
                {{offer|safe}}
            </div>
        </div>
    </div>
{% endblock %}
