{% extends 'base.html' %}
{% load staticfiles compress %}

{% load i18n %}

{% block extra_css %}
    {% compress css %}
        <link href="{% static 'css/vendors/cropper.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/offer.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="app" class="whiteBg">
        <div class="content step offer">
            <div class="static-text">
                {{payment_rules|safe}}
            </div>
            <a class="button button-green center-button selectRepair" href="{% url 'master_balance' %}">{% trans 'Назад' %}</a>
        </div>
    </div>
{% endblock %}
