{% extends 'base.html' %}
{% load staticfiles compress i18n %}

{% block content %}
    <div id="app">
        <div class="content step">
            <h5>{% trans 'Вы собираетесь пополнить счет на' %} {{form_context.WMI_PAYMENT_AMOUNT}}<span className="rub">₽</span>, {% trans 'Вы будете перенаправлены на страницу оплаты' %}</h5>
            <form method="post" action="https://wl.walletone.com/checkout/checkout/Index" accept-charset="UTF-8">
                {% for key, value in form_context.items %}
                    <input class="inputData" type="hidden" name="{{ key }}" value="{{ value }}"/>
                {% endfor %}
                <input class="button button-green selectRepair" type="submit" value="{% trans 'Продолжить' %}" />
            </form>
        </div>
    </div>
{% endblock %}
