{% extends 'base.html' %}
{% load staticfiles compress %}


{% block extra_css %}
    {% compress css %}
        <link href="{% static 'css/vendors/cropper.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_scripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/masterApp.js' %}"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/template/cropper.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.ReactRouter.run(window.profileRoutes, function (Handler) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
        });
    </script>

{% endblock %}
