{% extends 'base.html' %}
{% load staticfiles compress %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_css %}
    {% compress css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/vendors/chosen.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/chosen-custom.css' %}">
    {% endcompress %}
{% endblock %}

{% block extra_scripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/vendors/chosen.jquery.min.js' %}"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/masterApp.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.ReactRouter.run(window.territoryRoutes, function (Handler) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
        });
    </script>

{% endblock %}
