{% extends "emails/base.html" %}
{% load i18n %}

{% block content %}

{% trans "Мастер" as text %}
{% trans "не забрал запчасть" as text3 %}
{% include "emails/helpers/h1.html" with text=text text2=master.user.get_full_name text3=text3 only %}

{% for part_order in parts_orders %}
    <p style="font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif; font-size: 14px; line-height: 1.6; font-weight: normal; margin: 0 0 10px; padding: 0;">
        {% trans " " as text3 %}
        {% include "emails/helpers/span.html" with text=part_order.vendor_part.name %}</br>
        {% trans "по закупке:" as text %}
        {% include "emails/helpers/span.html" with text=text text2=part_order.order_number %}</br>
        {% trans "по заказу:" as text %}
        {% trans "от" as text3 %}
        {% include "emails/helpers/span.html" with text=text text2=order.number text3=text3 text4=order.created_at|date:"m/d/Y" %}</br>
    </p>
{% endfor %}

{% trans "ссылка в админку на профиль мастера" as text %}
{% include "emails/helpers/button.html" with text=text link=link only %}

{% endblock %}