 <!DOCTYPE HTML>
{% load staticfiles compress base_tags simple_seo i18n %}
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="Content-Language" content="ru" />
    <meta name="viewport" content="user-scalable=no, initial-scale=1.0, maximum-scale=1.0 minimal-ui"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="w1-verification" content="123227883520" />
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
    <meta name='yandex-verification' content='6fe0e315918dd4f0' />
    <meta name="google-site-verification" content="Jan_brvmR13G25PyseuuCN7fbEs70HHzvq_YSfyZySQ" />
    <meta name='wmail-verification' content='541bc6748d1218a5c7ed9e2f351a47e2' />

    {% view_metadata %}

    <link rel="shortcut icon" href="{% static 'images/ios/apple-touch-icon.png' %}" type="image/x-icon">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'images/ios/apple-touch-icon-114x114-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'images/ios/apple-touch-icon-144x144-precomposed.png' %}">
    <link rel="apple-touch-startup-image" href="{% static 'images/ios/apple-touch-icon.png' %}"  media="screen and (max-device-width: 320px)" />
    <link rel="apple-touch-startup-image" href="{% static 'images/ios/apple-touch-icon.png' %}" media="(max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2)" />
    <link rel="apple-touch-startup-image" href="{% static 'images/ios/apple-touch-icon.png' %}" media="(device-width: 375px)">
    <link rel="apple-touch-startup-image" href="{% static 'images/ios/apple-touch-icon.png' %}" media="(device-width: 414px)">
    <link rel="apple-touch-startup-image" sizes="640x1096" href="{% static 'images/ios/apple-touch-icon.png' %}" />
    <link rel="apple-touch-startup-image" sizes="1024x748" href="{% static 'images/ios/apple-touch-icon.png' %}" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : landscape)" />
    <link rel="apple-touch-startup-image" sizes="768x1004" href="{% static 'images/ios/apple-touch-icon.png' %}" media="screen and (min-device-width : 481px) and (max-device-width : 1024px) and (orientation : portrait)" />
    <link rel="apple-touch-startup-image" sizes="1536x2008" href="{% static 'images/ios/apple-touch-icon.png' %}"   media="(device-width: 768px)  and (orientation: portrait) and (-webkit-device-pixel-ratio: 2)"/>
    <link rel="apple-touch-startup-image" sizes="1496x2048" href="{% static 'images/ios/apple-touch-icon.png' %}"   media="(device-width: 768px) and (orientation: landscape)  and (-webkit-device-pixel-ratio: 2)"/>


    {% compress css %}
        <link href="{% static 'css/vendors/fonts.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/vendors/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/vendors/framework.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/vendors/owl.theme.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/vendors/swipebox.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/vendors/font-awesome.css' %}"   rel="stylesheet" type="text/css">
        <link href="{% static 'css/vendors/animate.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/main.css' %}" rel="stylesheet" type="text/css">

        <!--[if IE]><link rel="stylesheet" type="text/css" href="{% static 'css/vendors/IEnormalize.css' %}" /><![endif]-->
    {% endcompress %}

    {% block extra_css %}

    {% endblock %}

        <script type="text/javascript">
            window.DADATA_TOKEN = "{{ settings.DADATA_TOKEN }}";
            window.language="{{ LANGUAGE_CODE }}";
            window.is_partner_from_link_exists={{ is_partner_from_link_exists|yesno:"true,false" }};
            window.is_partner_user={{ request.user.is_partner|yesno:"true,false" }};
            window.is_production={{ settings.IS_PRODUCTION|yesno:"true,false" }};
        </script>
        {% comment %}
        <script type="text/javascript">
            var _urq = _urq || [];
            {% if settings.IS_PRODUCTION %}
            _urq.push(['setGACode', 'UA-62940353-2']);
            {% endif %}
            _urq.push(['initSite', '46623fc1-8dd6-4dab-a5aa-767c8eff6b7b']);

            (function() {
            var ur = document.createElement('script'); ur.type = 'text/javascript'; ur.async = true;
            ur.src = ('https:' == document.location.protocol ? 'https://cdn.userreport.com/userreport.js' : 'http://cdn.userreport.com/userreport.js');
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ur, s);
            })();
        </script>
        {% endcomment %}

</head>
<body>
{% csrf_token %}
<div class="all-elements">
    <div class="snap-drawers">
        <!-- Right Sidebar -->
        <div class="snap-drawer snap-drawer-right">
            {% if user.is_master %}
                <div class="menu-master">
                    <img src="{{ user.avatar_url }}" style="border-color: #{{user.master.status_color_hex}};">
                    <span class="menuName">{{ user.get_full_name }}</span>
                </div>
            {% endif %}
            <ul class="sidebar-navigation">
                {% if user.is_master %}
                    <li><a href="{% url 'master_index' %}" class="{% active_menu 'master_index' %}"><i class="fa fa-home"></i>{% trans 'Главная' %}<i class="fa fa-circle"></i></a></li>
                    {% if user.master.is_certificated %}
                        <li><a href="{% url 'master_territory' %}" class="{% active_menu 'master_territory' %}"><i class="fa fa-info"
                        ></i>{% trans 'Территория' %}<i class="fa fa-circle"></i></a></li>
                    {% endif %}
                    <li><a href="{% url 'master_orders' %}" class="{% active_menu 'master_orders' %}"><i class="fa fa-info"></i>{% trans 'Заказы' %}<i class="fa fa-circle"></i></a></li>
                    {% if user.master.is_certificated %}
                        <li><a href="{% url 'master_parts' %}" class="{% active_menu 'master_parts' %}"><i class="fa fa-info"></i>{% trans 'Запчасти' %}<i class="fa fa-circle"></i></a></li>
                        <li><a href="{% url 'master_balance' %}" class="{% active_menu 'master_balance' %}"><i class="fa fa-info"></i>{% trans 'Финанcы' %}<i class="fa fa-circle"></i></a></li>
                    {% endif %}
                    <li><a href="{% url 'master_profile' %}" class="{% active_menu 'master_profile' %}"><i class="fa fa-info"></i>{% trans 'Обо мне' %}<i class="fa fa-circle"></i></a></li>
                {% elif user.is_partner%}
                    <li><a href="/" class="{% active_menu 'partner_index' %}"><i class="fa fa-home"></i>{% trans 'Главная' %}<i class="fa fa-circle"></i></a></li>
                    <li><a href="{% url 'partner' %}" class="{% active_menu 'partner_balance' %}"><i class="fa fa-info"></i>{% trans 'Финанcы' %}<i class="fa fa-circle"></i></a></li>
                    <li><a href="#" class="{% active_menu 'partner_profile' %}"><i class="fa fa-info"></i>{% trans 'Обо мне' %}<i class="fa fa-circle"></i></a></li>
                {% else %}
                    <li><a href="{% url 'index' %}" class="{% active_menu 'index' %}"><i class="fa fa-home"></i>{% trans 'Главная' %}<i class="fa fa-circle"></i></a></li>

                    <li>
                        <a href="{% url 'repair' %}" class="{% active_menu 'repair' %}">{% trans 'Ремонт iPhone/iPad' %}<i class="fa fa-circle"></i></a>
                    </li>
                    <li>
                        <a href="{% url 'sell' %}" class="{% active_menu 'sell' %}">{% trans 'Продать iPhone/iPad' %}<i class="fa fa-circle"></i></a>
                    </li>
                    {% if not user.is_authenticated %}
                    <li>
                        <a href="{% url 'master_signup' %}" class="{% active_menu 'master_signup' %}">{% trans 'Стать мастером' %}<i class="fa fa-circle"></i></a>
                    </li>
                    {% endif %}
                {% endif %}
                {% if not user.is_master %}
                    <li><a href="{% url 'about' %}" class="{% active_menu 'about' %}"><i class="fa fa-info"></i>{% trans 'О нас' %}<i class="fa fa-circle"></i></a></li>
                {% endif %}
                {% if user.is_master %}
                    <li><a href="{% url 'repair' %}" class="{% active_menu 'repair' %}"><i class="fa fa-info"></i>{% trans 'Создать заказ' %}<i class="fa fa-circle"></i></a></li>
                {% endif %}
                {% if user.is_partner %}
                    <li><a href="{% url 'repair' %}" class="{% active_menu 'partner_profile' %}"><i class="fa fa-info"></i>{% trans 'Создать заказ' %}<i class="fa fa-circle"></i></a></li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li><a class="{% active_menu 'logout' %}"  href="{% url 'logout' %}" >{% trans 'Выход' %}<i class="fa fa-circle"></i></a></li>
                {% else %}
                    <li><a class="{% active_menu 'login' %}" href="{% url 'login' %}">{% trans 'Вход' %}<i class="fa fa-circle"></i></a></li>
                {% endif %}
            </ul>
        </div>
    </div>

    <!-- Page Content-->
    <div id="content" class="snap-content">
        <div class="header overflow-vis-header">
            <div id="feedback" class="feedback-logo vcard">
                <a href="/feedback/" class="logoFeedback"></a>
                {% if config.FEEDBACK_TELEPHONE %}
                        <a href="tel:{{ config.FEEDBACK_TELEPHONE }}" class="callPhone tel">{{ config.FEEDBACK_TELEPHONE }}</a>
                {% endif %}
            </div>
            <a href="/" class="header-logo"></a>
            <div class="ddList ddLangHeader {{LANGUAGE_CODE}}Lang">
                <ul class="ddUl ddUlLang ddUlLangHeader">
                    <li class="titleLi">Choose your language:</li>
                    <li><a class="ddLink ddLinkLang" href="{% url 'set_lang' %}?language=en&next={{request.get_full_path}}"><i class="enLang"></i></a></li>
                    {% if LANGUAGE_CODE == 'ru' %}
                        <li><a class="ddLink ddLinkLang" href="{% url 'set_lang' %}?language=ru&next={{request.get_full_path}}"><i class="ruLang"></i></a></li>
                    {% else %}
                        <li><a class="ddLink ddLinkLang" href="{% url 'set_lang' %}?language=ru&next={{request.get_full_path|slice:'3:'}}"><i class="ruLang"></i></a></li>
                    {% endif %}
                </ul>
            </div>
            <a class="open-menu"><i class="fa fa-navicon"></i></a>
        </div>
        {% if messages %}
            <div class="header-notify">
                {% for message in messages %}
                    <div class="notify notify-{{ message.tags }} tap-dismiss-notification">
                        <p class="center-text uppercase">{{ message|safe }}</p>
                    </div>
                {% endfor %}
            </div>
        {% endif %}


        {% block content %}
        {% endblock %}

    <!-- Page Footer-->
        <div class="footer overflow-vis-footer">
            {% comment %}
            <div class="footer-socials half-bottom">
                <a href="#" class="footer-facebook"><i class="fa fa-facebook"></i></a>
                <a href="#" class="footer-twitter"><i class="fa fa-twitter"></i></a>
                <a href="#" class="footer-google"><i class="fa fa-google-plus"></i></a>
                <a href="#" class="footer-share show-share-bottom"><i class="fa fa-share-alt"></i></a>
                <a href="#" class="footer-up"><i class="fa fa-angle-up"></i></a>
            </div>
            {% endcomment %}
            <p class="center-text vcard">
                <span class="fn org">
                    Fixland.ru LLC, 2015
                </span>
                </br>
                <span class="adr">
                    <span class="postal-code">121087</span>
                    <span class="locality">{% trans 'Москва'  %}</span>
                    <span class="street-address">{% trans 'ул. Барклая, д.6, стр.5' %}</span>
                </span>
                </br>
                <a class="url" href="{% url 'feedback' %}">{% trans 'Связаться с нами' %}</a>
            </p>
            <div class="ddList ddLangWrp {{LANGUAGE_CODE}}Lang">
                <ul class="ddUl ddUlLang">
                    <li class="titleLi">Choose your language:</li>
                    <li><a class="ddLink ddLinkLang" href="{% url 'set_lang' %}?language=en&next={{request.get_full_path}}"><i class="enLang"></i></a></li>
                    {% if LANGUAGE_CODE == 'ru' %}
                        <li><a class="ddLink ddLinkLang" href="{% url 'set_lang' %}?language=en&next={{request.get_full_path}}"><i class="ruLang"></i></a></li>
                    {% else %}
                        <li><a class="ddLink ddLinkLang" href="{% url 'set_lang' %}?language=en&next={{request.get_full_path|slice:'3:'}}"><i class="ruLang"></i></a></li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>

    <script src="{{ STATIC_URL }}jsi18n/{{ LANGUAGE_CODE }}/djangojs.js"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/template/jquery.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/jqueryui.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/framework.plugins.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/custom.js' %}"></script>
    {% endcompress %}

    {% if settings.IS_SERVER %}
        <script src="//cdn.ravenjs.com/1.1.15/jquery,native/raven.min.js"></script>
        <script>
        Raven.config('{{ settings.SENTRY_PUBLIC_DSN }}', {
        }).install();
        {% if user.is_authenticated %}
            Raven.setUser({
                email: '{{ user.email }}',
                id: '{{ user.pk }}'
            });
        {% endif %}
        </script>
    {% endif %}

    {% if settings.IS_PRODUCTION %}
        <!-- Facebook Pixel Code -->
        <script>
            !function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
            n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
            n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
            t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
            document,'script','//connect.facebook.net/en_US/fbevents.js');
            fbq('init', '1003442356388034');
            fbq('track', "PageView");
        </script>

        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-62940353-2', 'auto');
          ga('send', 'pageview');

        </script>
        <script type="text/javascript">
            window.addEventListener("hashchange", function() {
                ga('send', 'pageview', {'page': window.location.pathname + window.location.hash});
            });
        </script>
        <!-- Yandex.Metrika counter -->
        <script type="text/javascript">
            (function (d, w, c) {
                (w[c] = w[c] || []).push(function() {
                    try {
                        w.yaCounter31075071 = new Ya.Metrika({
                            id:31075071,
                            clickmap:true,
                            trackLinks:true,
                            accurateTrackBounce:true,
                            webvisor:true,
                            trackHash:true
                        });
                    } catch(e) { }
                });

                var n = d.getElementsByTagName("script")[0],
                    s = d.createElement("script"),
                    f = function () { n.parentNode.insertBefore(s, n); };
                s.type = "text/javascript";
                s.async = true;
                s.src = "https://mc.yandex.ru/metrika/watch.js";

                if (w.opera == "[object Opera]") {
                    d.addEventListener("DOMContentLoaded", f, false);
                } else { f(); }
            })(document, window, "yandex_metrika_callbacks");
        </script>
        <noscript><div><img src="https://mc.yandex.ru/watch/31075071" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
        <!-- /Yandex.Metrika counter -->
    {% endif %}
    {% if config.LIVE_TEX_ID %}
        <script type='text/javascript'>
            window['liv'+'eTe'+'x'] = true,
            window['l'+'ive'+'Tex'+'ID'] = {{ config.LIVE_TEX_ID }},
            window['liveT'+'ex_'+'obje'+'c'+'t'] = true;
            (function() {
                var t = document['c'+'reateE'+'le'+'ment']('script');
                t.type ='text/javascript';
                t.async = true;
                t.src = '//cs1'+'5.'+'li'+'vete'+'x.'+'ru/js/clie'+'nt.js';
                var c = document['ge'+'tEle'+'ments'+'ByTagName']('script')[0];
                if ( c ) c['p'+'aren'+'tN'+'od'+'e']['i'+'nsert'+'Bef'+'ore'](t, c);
                else document['doc'+'umentE'+'lement']['fi'+'r'+'stChi'+'l'+'d']['ap'+'pend'+'Child'](t);
            })();
        </script>
    <!-- {/literal} -->
    {% endif %}
    <!-- Facebook Conversion Code -->
    <script>(function() {
      var _fbq = window._fbq || (window._fbq = []);
      if (!_fbq.loaded) {
        var fbds = document.createElement('script');
        fbds.async = true;
        fbds.src = '//connect.facebook.net/en_US/fbds.js';
        var s = document.getElementsByTagName('script')[0];
        s.parentNode.insertBefore(fbds, s);
        _fbq.loaded = true;
      }
    })();
    </script>
    {% block extra_scripts %}

    {% endblock %}
</div>

</body>
</html>
