{% extends 'base.html' %}
{% load staticfiles compress %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_scripts %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/app.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
    	window.feedbackTelephone = '{{ config.FEEDBACK_TELEPHONE }}';
        window.ReactRouter.run(window.feedbackRoutes, function (Handler) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
        });
    </script>
{% endblock %}
