{% extends 'base.html' %}
{% load staticfiles compress i18n base_tags %}
{% block extra_css %}
    {% compress css %}
        <link href="{% static 'css/animateArrow.css' %}" rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}
{% block content %}
<div id="app">
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/ru_RU/sdk.js#xfbml=1&version=v2.3&appId=350468235003168";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    {% if not request|is_language_choosen %}
        <div class="langBlock">
            <span>Choose your language:</span>
            <a class="langLink ruLang" href="/set-lang?language=ru&next={{request.get_full_path|slice:'3:'}}"></a>
            <a class="langLink enLang" href="/set-lang?language=en&next={{request.get_full_path}}"></a>
        </div>
    {% endif %}

    <div class="container wrpContentSlider wrpLangingImg">
        <div class="coverpage-image bg bg1 coverpage-style-1" style="background-image: url({{picture.photo.url}});">
            <h1>{{picture.title}}</h1>
            <h3 class="subTitleLanding">{{picture.description}}</h3>
            <br class="hide-br">
            <a class="button button-green center-button selectRepair slider-btn" href="{% url 'repair' %}#/iphone" data-reactid=".0.3">iPhone</a>
            <a class="button button-blue center-button selectRepair slider-btn" href="{% url 'repair' %}#/ipad" data-reactid=".0.3">iPad</a>
            <div class="arrowBottom animateDelay"></div>
        </div>
    </div>
    <div class="content wrpTW">
        <div class="container wrpThisWork">
            <h1>{% trans 'Как работает наш сервис?' %}</h1>
            <div class="elWork">
                <div class="wrpTextWork">
                <div class="circle"><span class="spanCircle">1</span></div>
                    <p class="textWork">{% trans 'Выберите поломки' %}</p>
                </div>
            </div>
             <div class="elWork">
                <div class="wrpTextWork">
                <div class="circle"><span class="spanCircle">2</span></div>
                    <p class="textWork">{% trans 'Укажите как с Вами связаться' %}</p>
                </div>
            </div>
             <div class="elWork">
                <div class="wrpTextWork lastTextWork">
                <div class="circle"><span class="spanCircle">3</span></div>
                    <p class="textWork">{% trans 'Договоритесь с Вашим мастером' %}</p>
                </div>
            </div>
            <h1>{% trans 'Что Вам нужно' %}<span class="greenText">{% trans 'починить?' %}</span></h1>
            <a style="margin-top: 5px;" class="button button-blue center-button selectRepair" href="{% url 'repair' %}#/iphone" data-reactid=".0.3">iPhone</a>
            <a style="margin-top: 5px;" class="button button-green center-button selectRepair" href="{% url 'repair' %}#/ipad" data-reactid=".0.3">iPad</a>
             <a class="button button-green center-button selectRepair customGreenBtn" href="{% url 'repair' %}" data-reactid=".0.3">{% trans 'Починить мой девайс' %}</a>
            <h3>{% trans 'Мастер приедет к Вам в удобное место и время и сделает ремонт Вашего гаджета за 20 минут' %}</h3>
        </div>
    </div>
    <div class="content wrpPref">
        <div class="container no-bottom wrpPreferences wrpSlider">
            <h1>{% trans 'Наши преимущества' %}:</h1>
            {% for feature in features %}
                <div class="preferences">
                    <p class="thumb-left no-bottom">
                        <img class="prefImg" src="{{feature.photo.url}}" alt="img">
                        <span class="prefEm">{{feature.description}}</span>
                    </p>
                </div>
            {% endfor %}
        </div>
    </div>
    <!-- Staff Slider-->
    <div class="container landingSlider">
        <div class="wrpSlider">
            <h1>{% trans 'Отзывы наших клиентов' %}:</h1>
            <a href="#" class="next-staff"></a>
            <a href="#" class="prev-staff"></a>
            <div class="staff-slider owl-carousel owl-theme" data-snap-ignore="true">
                {% for review in reviews %}
                    <div class="owl-item">
                        <div>
                            <div class="staff-item">
                            <img src="{{review.photo.url}}" alt="img">
                                <h4>{{review.first_name}} {{review.last_name}}</h4>
                                <em>{{review.post}}</em>
                                <em>{{review.company}}</em>
                                <strong class="textComment">{{review.review}}</strong>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container landingSlider logoSlider">
        <div class="wrpSlider">
            <h1>{% trans 'Нам доверяют сотрудники компаний' %}:</h1>
            <a class="logoArrow logoArrow-next"></a>
            <a class="logoArrow logoArrow-prev"></a>
            <div class="customStaffSlider owl-carousel owl-theme" data-snap-ignore="true">
                {% for logo in logos %}
                    {% if not forloop.counter|divisibleby:2 %}
                    <div class="owl-item">
                        <div>
                            <div class="staff-item">
                                <img src="{{logo.picture.url}}" alt="img">
                            </div>
                    {% else %}
                            <div class="staff-item">
                                <img src="{{logo.picture.url}}" alt="img">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </div>
    <div class="container socCont">
        <div class="socialWrapp center-socials">
            <a class="facebook-color facebook-social" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=http://www.fixland.ru/', 'Facebook', 'width=550,height=300')">
                <i class="fa fa-facebook"></i>
            </a>
            <a class="twitter-color twitter-social" onclick="window.open('https://twitter.com/home?status=Быстрый%20и%20профессиональный%20ремонт%20телефонов%20и%20планшетов%20с%20выездом%20мастера%20в%20удобное%20для%20Вас%20время%20и%20место%20http://www.fixland.ru', 'Twitter', 'width=550,height=300')">
                <i class="fa fa-twitter"></i>
            </a>
             <a class="vk-color twitter-social" onclick="window.open('http://vk.com/share.php?url=http://www.fixland.ru/&title=Быстрый%20и%20профессиональный%20ремонт%20телефонов%20и%20планшетов%20с%20выездом%20мастера%20в%20удобное%20для%20Вас%20время%20и%20место%20http://www.fixland.ru&image=http://fixland.ru/static/seo/images/FB_picture_FnZbLKX.jpg', 'Vkontakte', 'width=550,height=300')">
                <i class="fa fa-vk"></i>
            </a>
            <a class="ok-color twitter-social" onclick="window.open('http://www.odnoklassniki.ru/dk?st.cmd=addShare&st._surl=http://www.fixland.ru/&title=Быстрый%20и%20профессиональный%20ремонт%20телефонов%20и%20планшетов%20с%20выездом%20мастера%20в%20удобное%20для%20Вас%20время%20и%20место%20http://www.fixland.ru', 'Odniklasniki', 'width=550,height=300')">
                <i class="fa fa-ok"></i>
            </a>
        </div>
    </div>
</div>
{% endblock %}
