{% extends 'base.html' %}
{% load staticfiles compress %}

{% block extra_css %}
    {% compress css %}
        <link href="{% static 'css/vendors/suggestions-15.4.css'  %}"rel="stylesheet" type="text/css">
        <link href="{% static 'css/offer.css'  %}"rel="stylesheet" type="text/css">
    {% endcompress %}
{% endblock %}

{% block content %}
    <div id="app"></div>
{% endblock %}

{% block extra_scripts %}
    {% if is_partner %}
        <script type="text/javascript">
            window.is_partner = true
        </script>
    {% endif %}

    <script src="https://maps.google.com/maps/api/js?v=3&region=ru&language=ru&hl=ru&sensor=true&key={{ GOOGLE_MAPS_API_KEY }}"></script>
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/template/jquery.suggestions-15.4.min.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/inputmask.js' %}"></script>
        <script type="text/javascript" src="{% static 'js/template/jquery.inputmask.js' %}"></script>
    {% endcompress %}
    {% compress js %}
        <script type="text/javascript" src="{% static 'js/dist/masterApp.js' %}"></script>
    {% endcompress %}
    <script type="text/javascript">
        window.ReactRouter.run(window.signupRoutes, function (Handler) {
            window.React.render(React.createElement(Handler), document.getElementById('app'));
        });
    </script>
{% endblock %}
