.offer pre, .offer p,
.offer span, .offer h3 {
	color: #000 !important;
	word-wrap: break-word;
	text-align: left;
	white-space: pre-wrap;
}

.offer a {
	display: inline;
}

.offer {
	margin: 90px 200px 0 200px;
}

.offer h3 {
	font-size: 16px;
}

@media (max-width: 768px) {
	.offer {
		margin: 90px 5% 0 5%;
	}
}

#app.whiteBg {
	margin-bottom: -25px;
}

