{% extends "admin/base_site.html" %}

{% block content %}
<form action="" method="post">{% csrf_token %}
    <p>Возврат денег по заказу №{{transaction.object.number}}:</p>
    {{form.as_p}}
    <input type="hidden" name="action" value="reverse_transaction" />
    <input type="submit" name="reverse" value="Сохранить" />
</form>
{% endblock %}


